@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pretendard";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("../../public/pretendard/web/variable/woff2/PretendardVariable.woff2")
    format("woff2-variations");
}

:root {
  --text: #46433f;
  --primary: #031f42;
  --btn: #123057;
  --white: #fff;
  --blue50: #e8f3ff;
  --blue100: #c9e2ff;
  --blue200: #90c2ff;
  --blue300: #64a8ff;
  --blue400: #4593fc;
  --blue500: #3182f6;
  --blue600: #2272eb;
  --blue700: #1b64da;
  --blue800: #1957c2;
  --blue900: #194aa6;
  --grey50: #f9fafb;
  --grey100: #f2f4f6;
  --grey200: #e5e8eb;
  --grey300: #d1d6db;
  --grey400: #b0b8c1;
  --grey500: #8b95a1;
  --grey600: #6b7684;
  --grey700: #4e5968;
  --grey800: #333d4b;
  --grey900: #191f28;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --radius-xl: 20px;
  --radius-xxl: 24px;
  --fs-xl: 20px;
  --fs-lg: 18px;
  --fs-ml: 17px;
  --fs-md: 16px;
  --fs-ms: 15px;
  --fs-sm: 14px;
  --fs-xs: 12px;
}

html#app {
  font-family: "Pretendard", sans-serif;
  color: var(--text);
  padding-bottom: 100px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
